__pycache__/
results/
*.pth
data/datasets/BP4D/img/
data/datasets/BP4D/lmk/
data/datasets/DISFA/img/
data/datasets/DISFA/lmk/
data/predictions/BP4D/*.tar
data/predictions/DISFA/*.tar
data/predictions/DISFA_computeLocal/*.tar
data/weights/stacking_head/baseLearners
data/weights/stacking_head/stacking_head/DISFA/
data/weights/stacking_head/stacking_head/BP4D/
data/datasets/SynAU_expanded/
data/datasets/SynAU_tar/
data/weights/stacking_head/BP4D/
data/weights/stacking_head/DISFA/
tmp_extracting/
tmp_files/
data/datasets/SynAU_generate/makehuman/out_allPeople/